<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/ui-grid.css")
    @Styles.Render("~/Content/select.css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")


    @*@Scripts.Render("~/Scripts/angular-ui/ui-bootstrap.js")
        @Scripts.Render("~/Scripts/ui-grid.js")*@
    @Scripts.Render("~/Scripts/UI/app.js")
    @Scripts.Render("~/Scripts/UI/controller.js")
    @Scripts.Render("~/Scripts/UI/ItemModalController.js")
</head>
<body ng-app="app">

        @RenderBody()




    @RenderSection("scripts", required: false)
</body>
</html>
